@use 'bulma';

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

:root {
    padding-top: 2rem;
    font-family: 'Roboto';
    --bulma-family-primary: 'Merriweather';
    --bulma-body-overflow-x: auto;
    --bulma-body-overflow-y: auto;
}